section#album {
  article{
    background-color: black;
    padding: 12px;		

  }
  margin: 0 auto;
  width:1048px;

  img#layout_toggle{
    float:right;
    margin-top:16px;
    cursor: pointer;
  }

  h3{
    float:right;
  }

  .photos_3 {
    margin: 24px 0 24px 24px;
  }

  .photos_5 {
    margin: 24px 0 24px 24px;
  }
}